<h1>Store</h1>

<label for="filter">Choose filter:</label>
<select id="filter" #filter>
  <option value="">Default</option>
  <option value="name">Name</option>
  <option value="descr">Description</option>
  <option value="color">Color</option>
</select>
<br><br>
<label for="search">Search {{ filter.value }}: </label>
<input type="text" id="search" #search (input)="filterByProp(filter.value, search.value)">
<p *ngIf="isEmpty">Product is not found</p>


<ul *ngFor="let product of products">
  <li>{{ product.name }} {{ product.color }} ({{ product.descr }}) - &dollar;{{ product.price }}</li>
</ul>
<button (click)="this.productsSortService.sortInDecline()">Sort in decline</button>
<br><br>
<button (click)="this.productsSortService.sortInAscending()">Sort in ascending</button>

<h2>Numbers</h2>
<ul *ngFor="let number of numbers">
  <li>{{ number }}</li>
</ul>
<p>Max number: {{ this.numbersService.getMaxValue() }}</p>
<button (click)="this.numbersService.sortInDecline()">Sort in decline</button>
<br><br>
<button (click)="this.numbersService.sortInAscending()">Sort in ascending</button>